div, h2, button {
    margin-left: 30px;
}
h1 {
    text-align: center;
}
h1 img {
    height: 48px;
}

input {
    margin: 0 10px 0 10px;
}

div {
    margin-top: 10px;
}

button {
    margin-top: 20px;
}